---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?key=6af306557f524973a3010737240701&q=32.7791,-96.8088
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999936'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/16/2024 22:31:56
      Cdn-Edgestorageid:
      - '1070'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 3654ae0d7644bd7599cae14f38400f40
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Dallas","region":"Texas","country":"United States
        of America","lat":32.78,"lon":-96.81,"tz_id":"America/Chicago","localtime_epoch":1705444277,"localtime":"2024-01-16
        16:31"},"current":{"last_updated_epoch":1705444200,"last_updated":"2024-01-16
        16:30","temp_c":-3.3,"temp_f":26.1,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":10.5,"wind_kph":16.9,"wind_degree":10,"wind_dir":"N","pressure_mb":1030.0,"pressure_in":30.42,"precip_mm":0.0,"precip_in":0.0,"humidity":29,"cloud":0,"feelslike_c":-7.6,"feelslike_f":18.4,"vis_km":16.0,"vis_miles":9.0,"uv":2.0,"gust_mph":15.0,"gust_kph":24.1},"forecast":{"forecastday":[{"date":"2024-01-16","date_epoch":1705363200,"day":{"maxtemp_c":-2.3,"maxtemp_f":27.8,"mintemp_c":-9.4,"mintemp_f":15.1,"avgtemp_c":-6.0,"avgtemp_f":21.2,"maxwind_mph":15.2,"maxwind_kph":24.5,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":37,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":3.0},"astro":{"sunrise":"07:30
        AM","sunset":"05:45 PM","moonrise":"11:09 AM","moonset":"11:51 PM","moon_phase":"Waxing
        Crescent","moon_illumination":26,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1705384800,"time":"2024-01-16
        00:00","temp_c":-7.7,"temp_f":18.2,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":15.2,"wind_kph":24.5,"wind_degree":3,"wind_dir":"N","pressure_mb":1033.0,"pressure_in":30.51,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":50,"cloud":6,"feelslike_c":-15.7,"feelslike_f":3.8,"windchill_c":-15.7,"windchill_f":3.8,"heatindex_c":-7.7,"heatindex_f":18.2,"dewpoint_c":-16.2,"dewpoint_f":2.9,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":18.9,"gust_kph":30.3,"uv":1.0,"short_rad":0.0,"diff_rad":0.0},{"time_epoch":1705388400,"time":"2024-01-16
        01:00","temp_c":-8.0,"temp_f":17.7,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":14.8,"wind_kph":23.8,"wind_degree":4,"wind_dir":"N","pressure_mb":1033.0,"pressure_in":30.51,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":50,"cloud":6,"feelslike_c":-15.9,"feelslike_f":3.4,"windchill_c":-15.9,"windchill_f":3.4,"heatindex_c":-8.0,"heatindex_f":17.7,"dewpoint_[...]
