---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?key=6af306557f524973a3010737240701&q=32.7791,-96.8088
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999936'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/16/2024 22:31:56
      Cdn-Edgestorageid:
      - '1069'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - c44a89cfbf415658fbc914e1558723f1
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Dallas","region":"Texas","country":"United States
        of America","lat":32.78,"lon":-96.81,"tz_id":"America/Chicago","localtime_epoch":1705444277,"localtime":"2024-01-16
        16:31"},"current":{"last_updated_epoch":1705444200,"last_updated":"2024-01-16
        16:30","temp_c":-3.3,"temp_f":26.1,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":10.5,"wind_kph":16.9,"wind_degree":10,"wind_dir":"N","pressure_mb":1030.0,"pressure_in":30.42,"precip_mm":0.0,"precip_in":0.0,"humidity":29,"cloud":0,"feelslike_c":-7.6,"feelslike_f":18.4,"vis_km":16.0,"vis_miles":9.0,"uv":2.0,"gust_mph":15.0,"gust_kph":24.1}}'
  recorded_at: Tue, 16 Jan 2024 22:30:27 GMT
recorded_with: VCR 6.2.0
