---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?key=6af306557f524973a3010737240701&q=32.7791,-96.8088
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999965'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/15/2024 17:28:41
      Cdn-Edgestorageid:
      - '1069'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 5339bf21b9bcbe32e413089700e8ed7f
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Dallas","region":"Texas","country":"United States
        of America","lat":32.78,"lon":-96.81,"tz_id":"America/Chicago","localtime_epoch":1705339683,"localtime":"2024-01-15
        11:28"},"current":{"last_updated_epoch":1705338900,"last_updated":"2024-01-15
        11:15","temp_c":-10.6,"temp_f":12.9,"is_day":1,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/day/122.png","code":1009},"wind_mph":11.9,"wind_kph":19.1,"wind_degree":360,"wind_dir":"N","pressure_mb":1027.0,"pressure_in":30.33,"precip_mm":0.0,"precip_in":0.0,"humidity":77,"cloud":100,"feelslike_c":-17.9,"feelslike_f":-0.2,"vis_km":16.0,"vis_miles":9.0,"uv":2.0,"gust_mph":16.3,"gust_kph":26.3}}'
  recorded_at: Mon, 15 Jan 2024 17:27:12 GMT
recorded_with: VCR 6.2.0
