---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=Dallas,TX&term=Italian
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jX-UHcQRIFRsjDFvmQlwKgbU51RWhDCPgwpS1RNZ3X1QmmgKkU_T8mkv6k6eqMA02L2bCEbBMPEh3xb0blSHu8yrGiibRkB8eYmNajziLadZngJ_ISHeX1FAqaekZXYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--useast1-74f644dc4b-njhx9; site=public_api_v3
      Ratelimit-Dailylimit:
      - '500.0'
      Ratelimit-Remaining:
      - '475.0'
      Ratelimit-Resettime:
      - '2024-01-17T00:00:00+00:00'
      X-Zipkin-Id:
      - ea9e16b791b94b21
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-92-52-useast1aprod
      X-Extlb:
      - 10-65-92-52-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "U3Nx-Vvizc6BMHiZxcuw7A", "alias": "il-bracco-dallas",
        "name": "il Bracco", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/UJE--oDwpgTZjKeOZVvU4w/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/il-bracco-dallas?adjust_creative=sXLAy83l7EwdZjsYFbaq0A&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=sXLAy83l7EwdZjsYFbaq0A",
        "review_count": 385, "categories": [{"alias": "italian", "title": "Italian"}],
        "rating": 4.5, "coordinates": {"latitude": 32.864895, "longitude": -96.802592},
        "transactions": ["delivery"], "price": "$$", "location": {"address1": "8416
        Preston Center Plaza Dr", "address2": null, "address3": "", "city": "Dallas",
        "zip_code": "75225", "country": "US", "state": "TX", "display_address": ["8416
        Preston Center Plaza Dr", "Dallas, TX 75225"]}, "phone": "+12143610100", "display_phone":
        "(214) 361-0100", "distance": 2882.095939975006}, {"id": "vNVxOl2SYgoXpzhVAoe2Iw",
        "alias": "kennys-italian-kitchen-dallas", "name": "Kenny''s Italian Kitchen",
        "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/rXmYvTUOWDgUzR6U3TW-hw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/kennys-italian-kitchen-dallas?adjust_creative=sXLAy83l7EwdZjsYFbaq0A&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=sXLAy83l7EwdZjsYFbaq0A",
        "review_count": 1516, "categories"[...]
